@import "tailwindcss";

@theme {
  --color-kesari: #ff7722;
  --color-orange: #ff710d;
  --color-yellow: #ffb800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Custom utility for kesari color */
.text-kesari {
  color: var(--color-kesari);
}
